<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-label class="ion-text-wrap">
              <ion-text color="">
                <h3>BATTK</h3>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col size="10">
            <ion-label class="ion-text-wrap">
              <ion-text color="primary">
                <h3>Batata Kilo</h3>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-md="2" size-xs="12" size="10">
            <ion-button color="danger">100.88 #</ion-button>
            <ion-button color="success">188.88 #</ion-button>
            <ion-button color="light">999.25 #</ion-button>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
