<div>
  <ion-item>
    <ion-text color="primary">
      <h5>{{item.initial}} - {{item.name}}</h5>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Preço</ion-label>
    <ion-input type="number" maxlength="5" [(ngModel)]="entity.price" name="price"></ion-input>
  </ion-item>
  
  <!-- or with standalone set to true -->
  <ion-item>
    <ion-label>Qtd</ion-label>
    <ion-input type="number" [(ngModel)]="entity.qtd" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <app-market (changed)="changeMarket($event)" ></app-market>
  <ion-button color="secondary half" (click)="back()">Voltar</ion-button>
  <ion-button color="primary half" (click)="save()">Salvar</ion-button>
</div>
  